{% extends 'base.html' %}
{% block referencia %}mapa_list.html{% endblock %}
{% block title_1 %}{% block title_2 %} Mapas de evidencia {% endblock %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-4">
			<a class="boton" title="Agregar" href="{% url 'baseApp:crear-mapa' %}">Agregar <i class="fas fa-plus verde"></i></a>
		</div>
		<div class="col-md-8">
		</div>
	</div>	
	<hr>
	<div class="row row-cols-1 row-cols-md-2 g-3">	
		{% for mapa in mapas %}
			<div class="col">
				<a href="{% url 'baseApp:detalles-mapa' mapa.pk %}" class="card h-100">
					<div class="card-header text-white bg-success">{{ mapa.title }}</div>
					<div class="card-body">
						<!-- <h5 class="card-title">Card title</h5> -->
						<p class="card-text texto-justificado">{{ mapa.resumen }}</p>
					</div>					
					<div class="card-footer bg-transparent">
						<div class="row">						
							<div class="col-md-9">
								<small class="text-muted">Fecha de creación: {{ mapa.created_at }}</small>
							</div>
							<div class="col-md-3 text-end" style="padding-right: 0;">
								<small class="text-muted">
									<div class="progressbar_container_small">
										<ul class="progressbar_small">

											{% if mapa.step == 'Inicio' %}
												<li></li>
												<li></li>
												<li></li>
												<li></li>
											{% endif %}

											{% if mapa.step == 'Agregar consulta' %}
												<li class="activado"></li>
												<li></li>
												<li></li>
												<li></li>
											{% endif %}

											{% if mapa.step == 'Selección de bigramas' %}
												<li class="activado"></li>
												<li class="activado"></li>
												<li></li>
												<li></li>
											{% endif %}

											{% if mapa.step == 'Evaluación de efectos' %}
												<li class="activado"></li>
												<li class="activado"></li>
												<li class="activado"></li>
												<li></li>
											{% endif %}

											{% if mapa.step == 'Generación de mapa' %}
												<li class="activado"></li>
												<li class="activado"></li>
												<li class="activado"></li>
												<li class="activado"></li>
											{% endif %}

										</ul>
									</div>
								</small>
							</div>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}