{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} Restablecer contraseña {% endblock %}

{% block navbar %}

	<!-- if user is authenticated -->
	<!--
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Carga de archivo</a>
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Acerca del proyecto</a>
	-->

{% endblock %}

{% block content %}
	<h4 style="text-align: left;">Contraseña cambiada correctamente</h4><br>
	{% if user.is_authenticated %}
		<p>Su contraseña ha sido cambiada exitosamente.</p>
	{% else %}	
		<p>Debe iniciar sesión para poder usar esta función</p>
	{% endif %}
{% endblock %}


	
	
