{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} Cambiar contraseña {% endblock %}

{% block navbar %}

	<!-- if user is authenticated -->
	<!--
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Carga de archivo</a>
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Acerca del proyecto</a>
	-->

{% endblock %}

{% block content %}
	<h4 style="text-align: center;">Cambiar contraseña</h4><br>
	{% if user.is_authenticated %}	
		<div class = "row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form class="site-form" method="post" autocomplete="off" style="padding-left: 0%; padding-right: 0%">
					{% csrf_token %}
					<!--
					{% if form.errors %}
						<div style="color:red">
							{% for key,value in form.errors.items %} 
								{{ value }}
							{% endfor %}
						</div>
					{% endif %}
					-->
					<table style = "width: 100%; text-align: center;">
						<!--<tr><td>{{ form.old_password.label_tag }}</td><td>{{ form.old_password }}</td></tr>-->					
						<tr>							
							<td>
								<div style="color:red">{{ form.old_password.errors }}</div>
								<input class="form-control" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}" type="password" placeholder="Contraseña antigua" autofocus required/>
							</td>
						</tr>
						<tr>							
							<td>
								<div style="color:red">{{ form.new_password1.errors }}</div>
								<input class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" type="password" placeholder="Contraseña nueva" required/>
							</td>
						</tr>
						<tr>							
							<td>
								<div style="color:red">{{ form.new_password2.errors }}</div>
								<input class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" type="password" placeholder="Contraseña nueva (confirmación)" autofocus required/>
							</td>
						</tr>
						<tr><td> <br> </td></tr>
						<tr style="text-align: left;">
							<td>{{ form.new_password1.help_text }}</td>
						</tr>
						<tr>							
							<td><button class="btn btn-success" type="submit">Cambiar contraseña</button></td>
						</tr>
					</table>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
	{% else %}
		Debe iniciar sesión para poder usar esta función
	{% endif %}
{% endblock %}