{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} Crear cuenta {% endblock %}

{% block navbar %}

	<!-- if user is authenticated -->
	<!--
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Carga de archivo</a>
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Acerca del proyecto</a>
	-->

{% endblock %}

{% block content %}
	<h4 style="text-align: left;">Creación de cuenta</h4><br>
	{% if user.is_authenticated %}
		Debe cerrar la sesión actual para poder usar esta función		
	{% else %}
			
		<p>El link de activación no es válido.</p>
				
	{% endif %}
{% endblock %}
