{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Log in" %} {% endblock %}

{% block navbar %}

	<!-- if user is authenticated -->
	<!--
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Carga de archivo</a>
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Acerca del proyecto</a>
	-->

{% endblock %}

{% block content %}	
	{% if user.is_authenticated %}
		Ya has iniciado sesión como: {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
	{% else %}		
		<div class = "row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">						
				<div>
					<br>
					<div style="text-align: center">
						<img src="{% static 'images/logo-mads.png' %}" style="width: 276px; height: auto;">
					</div>
					
					<br>
					<h4 style="text-align: center;">Inicio de sesión</h4>
					<br>
					{% include 'messages.html' %}
					<form class="site-form" method="post" autocomplete="off" style="padding-left: 17%; padding-right: 17%;">
						{% csrf_token %}
						
						{% if form.errors %}
							<div style="color:red">
								{% for key,value in form.errors.items %} 
									{{ value }}
								{% endfor %}
							</div>
						{% endif %}
						
						<table style = "width:100%; text-align:center;">
							<!--<tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>-->
							<tr>
								<td>
									<div style="color:red">{{ form.username.errors }}</div>
									<input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" type="text" placeholder="Nombre de usuario" autofocus required/>
								</td>
							</tr>
							<tr>
								<td>
									<div style="color:red">{{ form.password.errors }}</div>
									<input class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" type="password" placeholder="Contraseña" required/>
								</td>
							</tr>
							<tr>
								<td><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></td>
							</tr>
							<tr>
								{% if request.GET.next %}
									<input type="hidden" name="next" value="{{ request.GET.next }}">
								{% endif %}
								<td><br><button class="btn btn-primary" type="submit">Iniciar sesión</button></td>							
							</tr>
						</table>
					</form>
					<br>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
	{% endif %}	
{% endblock %}