{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} Restablecer contraseña {% endblock %}

{% block navbar %}

	<!-- if user is authenticated -->
	<!--
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Carga de archivo</a>
	<li class="nav-item"><a class="nav-link" href="{% url 'persuasivo_app:index' %}">Acerca del proyecto</a>
	-->

{% endblock %}

{% block content %}
		<h4 style="text-align: left;">Restablecer contraseña</h4><br>
	{% if user.is_authenticated %}
		Debe cerrar la sesión actual para poder usar esta función		
	{% else %}
	
		<p>Se ha cambiado su contraseña exitosamente, ya puedes <a href="{% url 'login' %}">Iniciar sesión</a>.</p>
	{% endif %}	
{% endblock %}