<!-- templates/base/solicitud_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block referencia %}templates/base/solicitud_list.html{% endblock %}
{% block title_1 %}{% block title_2 %}Solicitudes{% endblock %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p>
                A continuación se presenta el listado de solicitudes registradas en la herramienta.
            </p>
            <a class="btn btn-primary" href="{% url 'baseApp:crear_solicitud' %}">Nueva solicitud</a>
        </div>
    </div>    
	<hr>
	{% comment %} <div class="row row-cols-12 row-cols-md-12 g-12"> {% endcomment %}
	{% for solicitud in items %}
		<div class="row">
			<div class="col">
				<a href="{% url 'baseApp:detalles_solicitud' solicitud.pk %}" class="card h-100">
				{% comment %} <a href="" class="card h-100"> {% endcomment %}
					<div class="card-header text-white bg-primary">{{ solicitud.titulo }}</div>
					<div class="card-body">
						<!-- <h5 class="card-title">Card title</h5> -->
						<p class="card-text texto-justificado">{{ solicitud.descripcion }}</p>
					</div>					
					<div class="card-footer bg-transparent">
						<div class="row">						
							<div class="col-md-9">
								<small class="text-muted">Fecha de creación: {{ solicitud.created_at }}</small>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<br>
	{% endfor %}
	{% include 'pagination.html' %}
{% endblock %}