<!-- templates/solicitud_update.html -->
{% extends 'base.html' %}
{% load static %}
{% block referencia %}solicitud_update.html{% endblock %}
{% block title_1 %}{% block title_2 %}Actualización de solicitud{% endblock %}{% endblock %}

{% block content %}
    <a class="boton" title="Regresar" href="{% url 'baseApp:detalles_solicitud' solicitud_pk %}"><i class="fas fa-chevron-left verde"></i> Regresar</a>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST" id="solicitud_form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="POST.Save" value="Actualizar" class="btn btn-primary">
            </form>
        </div>
    </div>
    <br>
{% endblock %}